# Date Science Tools and Ecosystem

## Author
Andrew Katan

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- Identify popular languages in data science
- Identify commonly used libraries in data science
- Use markdowns to create a table
- Practice evaluating mathematical expressions in code cells

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. ggplot2

|Data Science Tools|
|------------------|
|JupyterLyte|
|Visual Studio Code|
|Anaconda|

Below are a few examples of evaluating arithmetic expressions on Python

In [1]:
# This is a symple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print("200 minutes is ",hours," hours")

200 minutes is  3.3333333333333335  hours